.three-hotel {
  padding-top: 64px;
}
.three-hotel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}
.three-hotel-img-list {
  display: flex;
  gap: 19px;
}

.three-hotel-text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.three-hotel-title {
  font-size: 32px;
  line-height: 1.25;
  color: var(--black-text-color);
  margin-bottom: 32px;
}

.three-hotel-text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.three-hotel-text {
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-text-color);
}

.three-hotel-link {
  cursor: pointer;
}
.three-hotel-button-list {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .three-hotel-container {
    gap: 32px;
  }

  .three-hotel-img-list {
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }
  .three-pic-one {
    align-self: self-end;
  }

  .three-hotel-button-wrap {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .three-hotel {
    padding-top: 120px;
    position: relative;
  }

  .three-hotel-title {
    margin-right: 0;
    font-size: 40px;
    line-height: 1.1;
  }
  .three-hotel-container {
    justify-content: end;
    margin-bottom: 40px;
  }
  .three-hotel-text-container {
    gap: 40px;
  }
  .three-hotel-text-list {
    min-width: 704px;
    flex-wrap: nowrap;
    gap: 32px;
  }
  .three-hotel-text {
    min-width: 299px;
    font-size: 18px;
    line-height: 1.29;
    color: var(--black-text-color);
  }
  .three-hotel-button-list {
    gap: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .three-hotel {
    padding-top: 130px;
  }

  .three-hotel-container {
    margin: 0;
    gap: 0;
    position: relative;
  }
  .three-pic-wrap {
    position: absolute;
    margin: 0 auto;
    left: 418px;
    top: 0;
    right: 0;
  }

  .three-hotel-img-list {
    margin-top: 151px;
    margin-bottom: 151px;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .three-hotel-text-container {
    display: flex;
    justify-content: space-between;
  }

  .three-hotel-title {
    margin-bottom: 40px;
  }

  .three-hotel-text-list {
    display: flex;
    gap: 32px;
    width: 686px;
  }
  .three-hotel-text-item {
    max-width: 355px;
  }
  .three-hotel-text {
    line-height: 1.33;
    color: var(--black-text-color);
  }
}
