<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen-container">
      <div class="about-kitchen-item about-kitchen-pic-one">
        <div class="about-kitchen-pic-wrap">
          <picture>
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-desk.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-tab.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-mob.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img1-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/restaurant/about-kitchen-rest/restaurant-about-img1-mob.jpg"
              alt="cook"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <ul class="about-kitchen-img-list">
        <li class="about-kitchen-item about-kitchen-pic-two">
          <picture>
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-desk.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-tab.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-mob.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/restaurant/about-kitchen-rest/restaurant-about-img2-mob.jpg"
              alt="meat"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="about-kitchen-item about-kitchen-pic-three">
          <picture>
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-desk.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-tab.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-mob.jpg    1x,
                ././img/restaurant/about-kitchen-rest/restaurant-about-img3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/restaurant/about-kitchen-rest/restaurant-about-img3-mob.jpg"
              alt="cocktail"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <h2 class="about-kitchen-title">title</h2>
    <ul class="about-kitchen-text-list">
      <li class="about-kitchen-text-item">
        <p class="about-kitchen-text">
          At Mimino, we are experts in meat preparation. Our chefs use only the
          finest and freshest ingredients to create delicious dishes that
          showcase the flavors of premium cuts of meat.
        </p>
      </li>
      <li class="about-kitchen-text-item">
        <p class="about-kitchen-text">
          Our slow-cooking process and expert seasoning bring out the best in
          each dish, making for an unforgettable dining experience. Come taste
          the magic of meat preparation at Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
