<section class="section restmenu">
  <h2>RESTAURANT MENU</h2>
  <div class="restmenu-container">
    <div class="restmenu-section">
      <h3 class="restmenu-title">Hot meals</h3>
      <ul class="restmenu-list">
        <li class="restmenu-item">
          <h4 class="restmenu-name">Veal borscht with beans</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">
            Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
            greens, sour cream
          </p>
          <p class="restmenu-price" >240 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Cheese soup with chicken</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">
            Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
          </p>
          <p class="restmenu-price" >200 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Carbonara pasta</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
          <p class="restmenu-price" >430 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Pork steak</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
          <p class="restmenu-price" >500 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Gorbusha in white wine sauce</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">Tender redfish, cream sauce based on white wine</p>
          <p class="restmenu-price" >400 UAH</p>
        </li>
      </ul>
    </div>
    <div class="restmenu-section">
      <h3 class="restmenu-title">Side dishes and snacks</h3>
      <ul>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Baked vegetables</h4>
          <p class="restmenu-weight">200 g</p>
          <p class="restmenu-ingredients">Zucchini, pepper, tomato, eggplant</p>
          <p class="restmenu-price" >230 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">French fries</h4>
          <p class="restmenu-weight">150 g</p>
          <p class="restmenu-ingredients">Potatoes, tomato sauce</p>
          <p class="restmenu-price" >160 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Peasant-style potatoes</h4>
          <p class="restmenu-weight">150 g</p>
          <p class="restmenu-ingredients">Potatoes, spices, spicy sauces</p>
          <p class="restmenu-price" >160 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Crisp pickles from the barre</h4>
          <p class="restmenu-weight">250 g</p>
          <p class="restmenu-ingredients">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
          <p class="restmenu-price" >350 UAH</p>
          l
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Chicken wings in honey sauce</h4>
          <p class="restmenu-weight">400 g</p>
          <p class="restmenu-ingredients">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
        </li>
      </ul>
    </div>
    <div class="restmenu-section">
      <h3 class="restmenu-title">Salads</h3>
      <ul>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Caesar with chicken</h4>
          <p class="restmenu-weight">230 g</p>
          <p class="restmenu-ingredients">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
          <p class="restmenu-price" >450 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Caesar with shrimp</h4>
          <p class="restmenu-weight">230 g</p>
          <p class="restmenu-ingredients">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
          <p class="restmenu-price" >300 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Greek salad</h4>
          <p class="restmenu-weight">230 g</p>
          <p class="restmenu-ingredients">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
          <p class="restmenu-price" >280 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Meat salad</h4>
          <p class="restmenu-weight">230 g</p>
          <p class="restmenu-ingredients">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
          <p class="restmenu-price" >300 UAH</p>
        </li>
      </ul>
    </div>
    <div class="restmenu-section">
      <h3 class="restmenu-title">Desserts</h3>
      <ul>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Napoleon cake</h4>
          <p class="restmenu-price" >200 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Poppy cake</h4>
          <p class="restmenu-price" >300 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Tiramisu</h4>
          <p class="restmenu-price" >260 UAH</p>
        </li>
      </ul>
      <h3  class="restmenu-section-name">Drinks</h3>
      <ul>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Black/green tea</h4>
          <p class="restmenu-price" >100 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Espresso</h4>
          <p class="restmenu-price" >100 UAH</p>
        </li>
        <li class="restmenu-item">
          <h4 class="restmenu-name">Cappuccino</h4>
          <p class="restmenu-price" >100 UAH</p>
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="button-black">book a table</button>
</section>
