/* .test-list {
  display: flex;
  gap: 30px;
}

.test-ikon-item {
  fill: none;
  stroke: var(--primary-white);
}

.test-link {
  display: block;
  height: 32px;
  width: 32px;
  background-color: tomato;
} */

/* 
.main-compl-bottom-2{
  display: flex;
} */

/* ------верхня частина---- */

.about-complex {
  padding-top: 64px;
}

.main-compl-top-1 {
  margin-bottom: 32px;
}

.main-compl-top-part {
  /* padding-top: 64px; */
  padding-bottom: 64px;
}

.main-compl-top-1-abs {
  position: relative;
  margin-top: 20px;
}

.first-review {
  position: absolute;
  top: -42px;
  right: 0;
}

.text-part-complex .complex-text:not(:last-child) {
  margin-bottom: 14px;
}

.text-title-complex {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  color: #484848;
  margin-bottom: 18px;
}

.complex-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-text-color);
}

/* ------нижня частина---- */

.main-compl-bottom-1 {
  /* position: relative; */
  margin-bottom: 54px;
}
.main-compl-bottom-abs-wrap {
  position: relative;
}

.second-review {
  position: absolute;
  bottom: -22px;
  left: 0;
}

.main-compl-bottom-2 .text-part-complex {
  margin-bottom: 40px;
}

/* -------- complex-review ---------- */
/* start */

.complex-review {
  width: 212px;
  height: 61px;
  padding: 10px 14px;

  background: var(--black-text-color);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.review-text-wrap p:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--white-text-color);
  text-transform: none;
  margin-bottom: 7px;
}

.review-text-wrap p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #575757;
  text-transform: none;
}

.review-text-wrap span {
  color: var(--white-text-color);
}
/* end */
/* -------- complex-review ---------- */

@media screen and (min-width: 768px) {
  .about-complex {
    padding-top: 80px;
  }
  .main-compl-top-part {
    /* padding-top: 80px; */
    padding-bottom: 80px;
  }

  .main-compl-top-1 {
    position: relative;
    width: fit-content;
  }

  .main-compl-top-1-abs {
    position: absolute;
    top: 209px;
    right: -222px;
    margin-top: 0px;
  }

  .first-review {
    left: 70px;
    top: -33px;
  }

  .main-compl-top-part .text-part-complex {
    width: 473px;
  }

  .main-compl-top-part .complex-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
  }
  /* ---нижня частина--- */

  /* .main-compl-bottom-abs-wrap {
    margin-left: auto;
  } */

  .main-compl-bottom-1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }

  .second-review {
    /* position: absolute; */
    bottom: 128px;
    left: -107px;
  }

  .main-compl-bottom-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 32px;
  }

  .third-one {
    /* margin-left: auto; */
  }

  .main-compl-bottom-2 .text-part-complex {
    width: 263px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .about-complex {
    padding-top: 100px;
  }
  .main-compl-top-part {
    /* padding-top: 100px; */
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-compl-top-1 {
    margin-bottom: 0px;
  }
  .main-compl-top-part .text-part-complex {
    width: 530px;
    padding-right: 57px;
  }

  .main-compl-bottom-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
  }

  .main-compl-bottom-1 {
    width: fit-content;
    margin-bottom: 0px;
  }

  .main-compl-bottom-2 {
    padding-top: 127px;
  }
}
