.section-details-hotel {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--black-text-color);
}
.container-details-hotel {
  position: relative;
}
.section-title-details-hotel {
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 32px;
}

.details-hotel-subtitle-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 33px;
}

/* Foto */
.foto-detail-hotel-main {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 18px;
}

.details-hotel-img-list {
  display: flex;
  gap: 20px;
}

/*  */

/* Icon  */

.details-hotel-icon-list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.details-hotel-icon-btn {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.3);
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  padding-top: 0;
}
.details-hotel-icon-btn-r {
  stroke: var(--white-line-color);
  fill: transparent;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  padding-top: 0;
}

.details-hotel-icon-btn:hover,
.details-hotel-icon-btn:focus {
  stroke: var(--white-line-color);
}

/* Button */

.details-hotel-btn-list {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.details-hotel-button-link {
  display: block;
}
/* Media */

@media screen and (max-width: 319px) {
  .details-hotel-btn-list {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .details-hotel-desk {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-details-hotel {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .details-hotel-main {
    display: flex;
    column-gap: 32px;
    align-items: center;
    margin-bottom: 80px;
  }
  .section-title-details-hotel {
    margin-bottom: 0;
  }
  .details-hotel-subtitle-text {
    margin: 0;
  }

  .foto-detail-hotel-main {
    position: relative;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .picture-m {
    position: absolute;
    left: 192px;
    top: 0;
  }

  .details-hotel-desk {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .details-hotel-img-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    row-gap: 16px;
  }

  .details-hotel-icon-list {
    display: none;
  }
  .details-hotel-btn-list {
    gap: 14px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .section-details-hotel {
    padding-top: 44px;
    padding-bottom: 60px;
  }
  .details-hotel-subtitle-text {
    width: 362px;
    height: 54px;
    margin: 0;
  }
  .foto-detail-hotel-main {
    margin-bottom: 0;
    margin-right: 126px;
    margin-left: 126px;
  }
  .details-big-foto {
    width: 420px;
    margin: 0px;
  }
  .picture-m {
    left: 352px;
    top: 0;
  }
  .details-hotel-desk {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .details-hotel-img-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 28px;
  }

  .details-hotel-icon-list {
    display: none;
  }
  .details-hotel-btn-list {
    position: absolute;
    left: 1047px;
    top: 3px;
    left: 1047px;
    gap: 14px;
    margin: 0;
  }
  .details-hotel-main {
    margin-bottom: 80px;
  }
}
