.section-main-rest {
  padding-top: 64px;

  /* position: relative; */
}
.container-details-rest {
  position: relative;
}
.section-title-rest {
  font-weight: 500;
  color: var(--black-text-color);
  margin-bottom: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.main-rest-subtitle-text {
  width: 221px;
  height: 54px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-bottom: 32px;
}

.main-img-list {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.main-img-list-desc {
  display: flex;
  gap: 32px;
  /* margin-bottom: 18px; */
}
.main-img-item-desc {
  margin-bottom: 0;
  /* width: 266px;
  height: 309px; */
}

.main-icon-list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.main-icon-btn {
  fill: transparent;
  stroke: rgba(18, 18, 18, 0.3);
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  padding-top: 0;
}
.main-icon-btn:hover,
.main-icon-btn:focus {
  stroke: black;
}
.main-icon-btn-r {
  stroke: var(--black-text-color);
}
.main-icon {
  justify-content: center;
  align-content: center;
}
.main-btn-details-list {
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: center;
}

.main-btn-details-link {
  display: block;
}

@media screen and (min-width: 768px) {
  .section-main-rest {
    padding-top: 80px;
  }

  .main-rest {
    display: flex;
    column-gap: 32px;
    align-items: center;
    margin-bottom: 80px;
  }
  .section-title-rest {
    margin-bottom: 0;
  }
  .main-rest-subtitle-text {
    margin-bottom: 0;
  }

  .main-icon-list {
    margin-bottom: 40px;
    gap: 32px;
  }
  .main-icon-btn {
    width: 36px;
    height: 36px;
  }

  .main-img-list {
    gap: 32px;
    margin-bottom: 32px;
  }

  .main-btn-list {
    gap: 14px;
  }
}

@media screen and (max-width: 1439px) {
  .main-img-list-desc {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .section-main-rest {
    padding-top: 144px;
  }
  .main-img-list {
    margin-bottom: 51px;
    display: none;
  }
  .main-img-list-desc {
    margin-bottom: 51px;
  }
  .main-btn-details-list {
    position: absolute;

    left: 1047px;
    top: 5px;
    left: 1047px;
    gap: 14px;
  }

  .main-rest {
    margin-bottom: 125px;
  }

  .main-icon-list {
    justify-content: center;
    margin-bottom: 26px;
    gap: 32px;
  }
  .main-icon-btn {
    width: 36px;
    height: 36px;
  }
}
