.restmenu {
    background-color: var(--black-text-color);
    padding: 40px 20px;
}

.restmenu h2 {
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(40/32);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.restmenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стилі для розділу з гарячими стравами */
.restmenu-section {
    margin-right: 20px;
}

.restmenu-title {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.restmenu-list {
    list-style: none;
    padding: 0;
}

.restmenu-item {
    margin-bottom: 20px;
}

.restmenu-name {
    margin-top: 0;
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
    
        letter-spacing: -0.02em;
    
        color: var(--white-text-color);
}

.restmenu-weight {
    font-size: 0.8rem;
    color: #666;
}

.restmenu-ingredients {
    margin-top: 0;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #666;
}

.restmenu-price {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
}