.restmenu {
    background-color: var(--black-text-color);
    padding: 40px 20px 64px;
}

.restmenu h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(40/32);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.restmenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стилі для розділу з гарячими стравами */
.restmenu-section {
    margin-right: 20px;
}

.restmenu-title {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(24/18);
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

/* .restmenu-list {
    list-style: none;
    padding: 0;
} */

.restmenu-item {
    margin-bottom: 20px;
}

.restmenu-name {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
        /* identical to box height, or 129% */
    
    letter-spacing: -0.02em;
    
    color: var(--white-text-color);
}

.restmenu-weight {
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
/* identical to box height, or 117% */

letter-spacing: -0.02em;

color: #D8D7D7;
}

.restmenu-ingredients {
font-weight: 400;
font-size: 10px;
line-height: calc(14/10);
/* or 140% */

letter-spacing: 0.18em;

color: rgba(216, 215, 215, 0.5);
}

.restmenu-price {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18/14);
    /* identical to box height, or 129% */

    letter-spacing: -0.02em;

    color: var(--white-text-color);


    /* Inside auto layout */

    /* flex: none;
    order: 21;
    flex-grow: 0;
    z-index: 21; */
}