.restmenu {
    background-color: var(--black-text-color);
    padding: 40px 20px 64px;
}
.restaurant-menu {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(40/32);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 36px;
}
/* Стилі для розділу з гарячими стравами */
.restmenu-container {
    margin-bottom: 32px;
}
.restmenu-menu {
    padding: 0;
    max-width: 335px;
}
.restmenu-section {
    text-transform: none;
}
.restmenu-title {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(24/18);
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 32px;
}
.restmenu-item {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
}
.restmenu-item:last-child {
    margin-bottom: 0px;

}
.restmenu-item-cotainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.item-list {
    List-style: inside;
    color: rgba(216, 215, 215, 1)
}
.restmenu-name {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    color: var(--white-text-color);
}
.restmenu-name::before {
    content: "• ";
    margin: 5px;
    color: var(--white-text-color);
}
.restmenu-weight {
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: -0.02em;
padding-right: 0;
color: #D8D7D7;
}

.restmenu-ingredients {
font-weight: 400;
font-size: 10px;
line-height: calc(14/10);
letter-spacing: 0.18em;
color: rgba(216, 215, 215, 0.5);
max-width: 200px;
}
.restmenu-price {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    padding-right: 0;
    color: var(--white-text-color);
}
.desserts-menu {
    margin-bottom: 28px;
}
.slider-container {
    width: 104px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.slider-button {
    width: 36px;
    height: 36px;
    background: none;
    border: none;
}
.btn-right {
    fill: none;
    stroke: var(--primary-white);
}
.btn-left {
    fill: none;
    stroke: rgba(247, 247, 247, 0.3);
}
@media screen and (max-width: 1439px) {
    .dead-space {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .restmenu-menu {
        width: 515px;
        max-width: 100%;
    }
    .restmenu-ingredients {
        max-width: 345px;
    }
    .restaurant-menu {
        font-size: 40px;
        line-height: calc(44/40);
        margin-bottom: 64px;
    }
    .restmenu-title {
        font-size: 24px;
        line-height: calc(24/24);
    }   
    .restmenu-name {
        font-size: 18px;
        line-height: calc(24/18);
    }
    .restmenu-weight {
        font-size: 14px;
        line-height: calc(18/14);
    }
    .restmenu-ingredients {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(18/12);
        letter-spacing: 0.18em;
    }
    .restmenu-price {
        font-size: 18px;
        line-height: calc(24/18);
    }
}
@media screen and (min-width: 1440px) {
    .restmenu-section {
        width: 515px;
    }
    .restaurant-menu {
        margin-bottom: 100px;
    }
    .restmenu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        column-gap: 74px;
        margin-bottom: 50px;
    }
    .restmenu-menu {
        width: 1104px;
    }
    .slider-container {
        display: none;
    }
    
}