<section class="amenities-section">
  <div class="container">
    <h2 class="amenities-title">General Amenities & Facilities:</h2>
    <ul class="amenities-list">
      <li class="amenities-list-item">24-hour front desk service</li>
      <li class="amenities-list-item">Daily housekeeping</li>
      <li class="amenities-list-item">Free Wi-Fi throughout the hotel</li>
      <li class="amenities-list-item">Elevator access</li>
      <li class="amenities-list-item">Luggage storage</li>
      <li class="amenities-list-item">Non-smoking rooms available</li>
      <li class="amenities-list-item">Meeting rooms for business and events</li>
      <li class="amenities-list-item">On-site parking (surcharge)</li>
      <li class="amenities-list-item">Concierge services</li>
    </ul>

    <h3 class="amenities-title">Bathroom:</h3>
    <ul class="amenities-list">
      <li class="amenities-list-item">Private bathroom with shower</li>
      <li class="amenities-list-item">Complimentary toiletries</li>
      <li class="amenities-list-item">Hair dryer</li>
      <li class="amenities-list-item">Fresh towels daily</li>
      <li class="amenities-list-item">
        Deluxe bathrobes (in some room categories)
      </li>
    </ul>

    <h3 class="amenities-title">Bedroom:</h3>
    <ul class="amenities-list">
      <li class="amenities-list-item">
        Comfortable beds with high-quality linens
      </li>
      <li class="amenities-list-item">Blackout curtains</li>
      <li class="amenities-list-item">
        Climate control (air conditioning and heating)
      </li>
      <li class="amenities-list-item">Safe for valuables</li>
      <li class="amenities-list-item">Writing desk and chair</li>
      <li class="amenities-list-item">Flat-screen TV with cable channels</li>
    </ul>

    <h3 class="amenities-title">Kitchen:</h3>
    <ul class="amenities-list">
      <li class="amenities-list-item">
        In-room kitchenette (in some room categories)
      </li>
      <li class="amenities-list-item">Refrigerator</li>
      <li class="amenities-list-item">Microwave</li>
      <li class="amenities-list-item">Electric kettle</li>
      <li class="amenities-list-item">Cooking utensils and cutlery</li>
      <li class="amenities-list-item">Dining table and chairs</li>
    </ul>

    <h3 class="amenities-title">Media:</h3>
    <ul class="amenities-list">
      <li class="amenities-list-item">Flat-screen TV with cable channels</li>
      <li class="amenities-list-item">High-speed Wi-Fi</li>
      <li class="amenities-list-item">iPod docking station</li>
      <li class="amenities-list-item">Speaker system</li>
      <li class="amenities-list-item">
        Electrical outlets for charging devices.
      </li>
    </ul>


    <div>
      
    </div>
    <picture class="amenities-picture-position">
      <source
        srcset="
          ././img/room/amenities-room/amenities-section-desk-1x.jpg 1x,
          ././img/room/amenities-room/amenities-section-desk-2x.jpg 2x
        "
        media="(min-width=1440px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/room/amenities-room/amenities-section-tablet-1x.jpg 1x,
          ././img/room/amenities-room/amenities-section-tablet-2x.jpg 2x
        "
        media="(min-width=768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/room/amenities-room/amenities-section-mobile-1x.jpg 1x,
          ././img/room/amenities-room/amenities-section-mobile-2x.jpg 2x
        "
        media="(min-width=320px)"
      />
      <img
        src="././img/room/amenities-room/amenities-section-mobile-1x.jpg"
        alt="amenities-room1"
      />
    </picture>

    <picture class="amenities-picture-position">
      <source
        srcset="
          ././img/room/amenities-room/amenities2-section-desk-1x.jpg 1x,
          ././img/room/amenities-room/amenities2-section-desk-2x.jpg 2x
        "
        media="(min-width=1440px)"
      />
      <source
        srcset="
          ././img/room/amenities-room/amenities2-section-tablet-1x.jpg 1x,
          ././img/room/amenities-room/amenities2-section-tablet-2x.jpg 2x
        "
        media="(min-width=768px)"
      />
      <source
        srcset="
          ././img/room/amenities-room/amenities2-section-mobile-1x.jpg 1x,
          ././img/room/amenities-room/amenities2-section-mobile-2x.jpg 2x
        "
        media="(min-width=320px)"
      />
      <img
        src="././img/room/amenities-room/amenities2-section-mobile-1x.jpg"
        alt="amenities-room2"
      />
    </picture>

    <button type="button" class="amenities-btn button white js-open-modal" data-modal="2">
      Book a room
    </button>
  </div>
</section>
