<section class="hero-room">
    <div class="container hero-wrap-room">
        <div class="desc-wrapper-room">
            <h1 class="hero-title-room">DOUBLE <br> <em>LUXURY</em> ROOM</h1>
            <button type="button" class=" button black js-open-modal hero-btn-item-room " data-modal="3">view prices</button>
        </div>
<div class="itc-slider" data-slider="itc-slider" data-autoplay="false" data-interval="5000">
<div class="itc-slider__wrapper">
  <div class="itc-slider__items">
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/room/hero-room/room-hero-1-desc.jpg.jpg 1x, /img/room/hero-room/room-hero-1-desc_2x.jpg.jpg 2x" media="(min-width:1440px)" />
            <source srcset="/img/room/hero-room/room-hero-1-tab.jpg.jpg 1x, /img/room/hero-room/room-hero-1-tab_2x.jpg.jpg 2x" media="(min-width:768px)" />
            <source srcset="/img/room/hero-room/room-hero-1-mobile.jpg.jpg 1x, /img/room/hero-room/room-hero-1-mobile_2x.jpg.jpg 2x" media="(min-width:320px)"  />
            <img class="photo" src="/img/restaurant/hero-rest/rest-hero-1-mobile.jpg.jpg" alt="photo" >
        </picture>
    </div>
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/room/hero-room/room-hero-2-desc.jpg.jpg 1x, /img/room/hero-room/room-hero-2-desc_2x.jpg.jpg 2x" media="(min-width:1440px)">
            <source srcset="/img/room/hero-room/room-hero-2-tab.jpg.jpg 1x, /img/room/hero-room/room-hero-2-tab_2x.jpg.jpg 2x" media="(min-width:768px)">
            <source srcset="/img/room/hero-room/room-hero-2-mobile.jpg.jpg 1x, /img/room/hero-room/room-hero-2-mobile_2x.jpg.jpg 2x" media="(min-width:320px)">
      <img class="photo" src="/img/room/hero-room/room-hero-2-mobile.jpg.jpg" alt="photo" >
    </div>
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/room/hero-room/room-hero-3-desc.jpg.jpg 1x, /img/room/hero-room/room-hero-3-desc_2x.jpg.jpg 2x" media="(min-width:1440px)">
            <source srcset="/img/room/hero-room/room-hero-3-tab.jpg.jpg 1x, /img/room/hero-room/room-hero-3-tab_2x.jpg.jpg 2x" media="(min-width:768px)">
            <source srcset="/img/room/hero-room/room-hero-3-mobile.jpg.jpg 1x, /img/room/hero-room/room-hero-3-mobile_2x.jpg.jpg 2x" media="(min-width:320px)">
            <img class="photo" src="/img/room/hero-room/room-hero-3-mobile.jpg.jpg" alt="photo" >
    </picture>
    </div>
  </div>
</div>
<div class="room-slider-wrap">
<button class="itc-slider__btn itc-slider__btn_prev btn-slide">
    <svg width="10" height="18" class="svg-room-1">
        <use href="/img/symbols.svg#icon-left"></use>
    </svg>
</button>
<button class="itc-slider__btn itc-slider__btn_next">
    <svg width="10" height="18" class="svg-room">
        <use href="/img/symbols.svg#icon-right"></use>
    </svg>
</button>
</div>
</div>
<p class="hero-text-room">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>

</div>
</section>