<section class="three-hotel">
  <div class="container">
    <div class="three-hotel-container">
      <picture class="three-pic-wrap three-pic-one">
        <source
          srcset="
            ././img/hotel/for3-hotel/hotel-for3-img1-desk.jpg    1x,
            ././img/hotel/for3-hotel/hotel-for3-img1-desk-2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ././img/hotel/for3-hotel/hotel-for3-img1-tab.jpg    1x,
            ././img/hotel/for3-hotel/hotel-for3-img1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ././img/hotel/for3-hotel/hotel-for3-img1-mob.jpg    1x,
            ././img/hotel/for3-hotel/hotel-for3-img1-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="././img/hotel/for3-hotel/hotel-for3-img1-mob.jpg"
          alt="bedroom"
          loading="lazy"
        />
      </picture>

      <ul class="three-hotel-img-list">
        <li class="three-hotel-item three-pic-two">
          <picture>
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img2-desk.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img2-tab.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img2-mob.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/for3-hotel/hotel-for3-img2-mob.jpg"
              alt="bathroom"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="three-hotel-item three-pic-three">
          <picture>
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img3-desk.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img3-tab.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/for3-hotel/hotel-for3-img3-mob.jpg    1x,
                ././img/hotel/for3-hotel/hotel-for3-img3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/for3-hotel/hotel-for3-img3-mob.jpg"
              alt="kitchen"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="three-hotel-text-container">
      <div class="three-hotel-wrap">
        <h2 class="three-hotel-title">Triple Room</h2>
        <div class="three-hotel-text-list">
          <div class="three-hotel-text-item">
            <p class="three-hotel-text">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </div>
          <div class="three-hotel-text-item">
            <p class="three-hotel-text">
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </div>
        </div>
      </div>
      <ul class="three-hotel-button-list">
        <li class="three-hotel-item">
          <button class="button black">
            <a href="./room.html" class="three-hotel-button-link"
              >More details</a
            >
          </button>
        </li>
        <li class="three-hotel-item">
          <button
            type="button"
            class="black button js-open-modal"
            data-modal="3"
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
