<section class="hero-hotel">
    <div class="container hero-wrap-hotel">
        <div class="desc-wrapper-hotel">
            <h1 class="hero-title-hotel">Hotel</h1>
            <ul class="hero-btn-list-hotel">
                <li class="hero-btn-item-hotel">
                    <button type="button" class=" button black js-open-modal" data-modal="2">book a room</button>
                </li>
                <li class="hero-btn-item-hotel">
                    <button type="button" class=" button black js-open-modal" data-modal="3">view prices</button>
                </li>
            </ul>
        </div>
<div class="itc-slider" data-slider="itc-slider" data-autoplay="false" data-interval="5000">
<div class="itc-slider__wrapper">
  <div class="itc-slider__items">
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/hotel/hero-hotel/hotel-hero-1-desc.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-1-desc_2x.jpg.jpg 2x" media="(min-width:1440px)" />
            <source srcset="/img/hotel/hero-hotel/hotel-hero-1-tab.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-1-tab_2x.jpg.jpg 2x" media="(min-width:768px)" />
            <source srcset="/img/hotel/hero-hotel/hotel-hero-1-mobile.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-1-mobile_2x.jpg.jpg 2x" media="(min-width:320px)"  />
            <img class="photo" src="/img/hotel/hero-hotel/hotel-hero-1-mobile.jpg.jpg" alt="photo" >
        </picture>
    </div>
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/hotel/hero-hotel/hotel-hero-2-desc.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-2-desc_2x.jpg.jpg 2x" media="(min-width:1440px)">
            <source srcset="/img/hotel/hero-hotel/hotel-hero-2-tab.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-2-tab_2x.jpg.jpg 2x" media="(min-width:768px)">
            <source srcset="/img/hotel/hero-hotel/hotel-hero-2-mobile.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-2-mobile_2x.jpg.jpg 2x" media="(min-width:320px)">
      <img class="photo" src="/img/hotel/hero-hotel/hotel-hero-2-mobile.jpg.jpg" alt="photo" >
        </picture>
    </div>
    <div class="itc-slider__item">
        <picture>
            <source srcset="/img/hotel/hero-hotel/hotel-hero-3-desc.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-3-desc_2x.jpg.jpg 2x" media="(min-width:1440px)">
            <source srcset="/img/hotel/hero-hotel/hotel-hero-3-tab.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-3-tab_2x.jpg.jpg 2x" media="(min-width:768px)">
            <source srcset="/img/hotel/hero-hotel/hotel-hero-3-mobile.jpg.jpg 1x, /img/hotel/hero-hotel/hotel-hero-3-mobile_2x.jpg.jpg 2x" media="(min-width:320px)">
            <img class="photo" src="/img/hotel/hero-hotel/hotel-hero-3-mobile.jpg.jpg" alt="photo" >
    </picture>
    </div>
  </div>
</div>
<div class="section-slider-wrap">
<button class="itc-slider__btn itc-slider__btn_prev btn-slide">
    <svg width="10" height="18" class="svg-1">
        <use href="/img/symbols.svg#icon-left"></use>
    </svg>
</button>
<button class="itc-slider__btn itc-slider__btn_next">
    <svg width="10" height="18" class="svg">
        <use href="/img/symbols.svg#icon-right"></use>
    </svg>
</button>
</div>
</div>
<p class="hero-text-hotel">Whether you're in the mood for a hearty breakfast, a light lunch, or <em> a romantic dinner</em>, our menu has something for everyone.</p>

</div>
</section>
