<section class="luxe-hotel">
  <div class="container">
    <div class="luxe-hotel-container">
      <div class="luxe-hotel-item luxe-pic-one">
        <div class="luxe-pic-wrap">
          <picture>
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img1-desk.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img1-tab.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img1-mob.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img1-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/luxe-hotel/hotel-luxe-img1-mob.jpg"
              alt="bedroom"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <ul class="luxe-hotel-img-list">
        <li class="luxe-hotel-item luxe-pic-two">
          <picture>
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-desk.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-tab.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-mob.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/luxe-hotel/hotel-luxe-img2-mob.jpg"
              alt="bathroom"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="luxe-hotel-item luxe-pic-three">
          <picture>
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-desk.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-tab.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-mob.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/luxe-hotel/hotel-luxe-img3-mob.jpg"
              alt="kitchen"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="luxe-hotel-text-container">
      <div class="luxe-hotel-wrap">
        <h3 class="luxe-hotel-title">DOUBLE LUXURY ROOM</h3>
        <ul class="luxe-hotel-text-list">
          <li class="luxe-hotel-text-item">
            <p class="luxe-hotel-text">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li class="luxe-hotel-text-item">
            <p class="luxe-hotel-text">
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
      </div>
      <div class="luxe-hotel-button-wrap">
        <a href="./room.html" class="luxe-hotel-button button luxe-hotel-link"
          >More details</a
        >
        <button
          type="button"
          class="luxe-hotel-button button js-open-modal"
          data-modal="3"
        >
          View prices
        </button>
      </div>
    </div>
  </div>
</section>
