<section class="luxe-hotel">
  <div class="container">
    <div class="luxe-hotel-container">
      <picture class="luxe-pic-wrap luxe-pic-one">
        <source
          srcset="
            ././img/hotel/luxe-hotel/hotel-luxe-img1-desk.jpg    1x,
            ././img/hotel/luxe-hotel/hotel-luxe-img1-desk-2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ././img/hotel/luxe-hotel/hotel-luxe-img1-tab.jpg    1x,
            ././img/hotel/luxe-hotel/hotel-luxe-img1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ././img/hotel/luxe-hotel/hotel-luxe-img1-mob.jpg    1x,
            ././img/hotel/luxe-hotel/hotel-luxe-img1-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="././img/hotel/luxe-hotel/hotel-luxe-img1-mob.jpg"
          alt="bedroom"
          loading="lazy"
        />
      </picture>

      <ul class="luxe-hotel-img-list">
        <li class="luxe-hotel-item luxe-pic-two">
          <picture>
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-desk.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-tab.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img2-mob.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/luxe-hotel/hotel-luxe-img2-mob.jpg"
              alt="bathroom"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="luxe-hotel-item luxe-pic-three">
          <picture>
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-desk.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-tab.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ././img/hotel/luxe-hotel/hotel-luxe-img3-mob.jpg    1x,
                ././img/hotel/luxe-hotel/hotel-luxe-img3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="././img/hotel/luxe-hotel/hotel-luxe-img3-mob.jpg"
              alt="kitchen"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="luxe-hotel-text-container">
      <div class="luxe-hotel-wrap">
        <h2 class="luxe-hotel-title">DOUBLE LUXURY ROOM</h2>
        <div class="luxe-hotel-text-list">
          <div class="luxe-hotel-text-item">
            <p class="luxe-hotel-text">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </div>
          <div class="luxe-hotel-text-item">
            <p class="luxe-hotel-text">
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </div>
        </div>
      </div>
      <ul class="luxe-hotel-button-list">
        <li class="luxe-hotel-item">
                      <a href="./room.html" class=" button black luxe-hotel-button-link"
              >More details</a
            >
           </li>
        <li class="luxe-hotel-item">
          <button
            type="button"
            class="black button js-open-modal"
            data-modal="3"
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
