/* Reset styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  /* letter-spacing: 0.02em; */
}

:root {
  --primary-white: #ffffff;
  --fon-lemon: #fffdee;
  --akzent-yellow: #f3c653;
  --brown: #c79002;
  --weird-gray: #e5e5e5;
  --gray-for-text: #bababa;
  --solid-gray: #b4b4b4;
  --dark-gray: #7a7a7a;
  --native-black: #494848;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
