<section class="section-details-hotel">
  <div class="container container-details-hotel">
    <div class="details-hotel-main">
      <h2 class="section-title section-title-details-hotel">Hotel</h2>
      <p class="details-hotel-subtitle-text">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>

    <div class="foto-detail-hotel-main">
      <picture class="picture-m">
        <source
          media="(min-width:1440px)"
          srcset="
            ././img/main/details-hotel-main/main-hotel_3@1x_lg.jpg 1x,
            ././img/main/details-hotel-main/main-hotel_3@2x_lg.jpg 2x
          "
          type="image/jpeg"
        />

        <source
          media="(min-width:768px)"
          srcset="
            ././img/main/details-hotel-main/main-hotel-3@1x_md.jpg 1x,
            ././img/main/details-hotel-main/main-hotel-3@2x_md.jpg 2x
          "
          type="image/jpeg"
        />

        <img
          class=""
          srcset="
            ././img/main/details-hotel-main/main-hotel-3@1x_sm.jpg 1x,
            ././img/main/details-hotel-main/main-hotel-3@2x_sm.jpg 2x
          "
          src="././img/main/details-hotel-main/main-hotel-3@1x_sm.jpg"
          alt="Bath"
          loading="lazy"
        />
      </picture>

      <ul class="details-hotel-img-list">
        <li class="details-hotel-img-item">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel_1@1x_lg.jpg 1x,
                ././img/main/details-hotel-main/main-hotel_1@2x_lg.jpg 2x
              "
              type="image/jpeg"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel-1@1x_md.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-1@2x_md.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              class="details-img-hotel"
              srcset="
                ././img/main/details-hotel-main/main-hotel-1@1x_sm.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-1@2x_sm.jpg 2x
              "
              src="././img/main/details-hotel-main/main-hotel-1@1x_sm.jpg"
              alt="Double bed."
              loading="lazy"
            />
          </picture>
        </li>

        <li class="details-hotel-img-item">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel_2@1x_lg.jpg 1x,
                ././img/main/details-hotel-main/main-hotel_2@2x_lg.jpg 2x
              "
              type="image/jpeg"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel-2@1x_md.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-2@2x_md.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              class="details-img-hotel"
              srcset="
                ././img/main/details-hotel-main/main-hotel-2@1x_sm.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-2@2x_sm.jpg 2x
              "
              src="././img/main/details-hotel-main/main-hotel-2@1x_sm.jpg"
              alt="Jars for body care"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>

      <ul class="details-hotel-desk">
        <li class="details-hotel-desk-img">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel_4@1x_lg.jpg 1x,
                ././img/main/details-hotel-main/main-hotel_4@2x_lg.jpg 2x
              "
              type="image/jpeg"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel-4@1x_md.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-4@2x_md.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              class="details-img-hotel"
              srcset="
                ././img/main/details-hotel-main/main-hotel-4@1x_sm.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-4@2x_sm.jpg 2x
              "
              src="././img/main/details-hotel-main/main-hotel-4@1x_sm.jpg"
              alt="Bathroom"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="details-hotel-desk-img">
          <picture>
            <source
              media="(min-width:1440px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel_5@1x_lg.jpg 1x,
                ././img/main/details-hotel-main/main-hotel_5@2x_lg.jpg 2x
              "
              type="image/jpeg"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ././img/main/details-hotel-main/main-hotel-5@1x_md.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-5@2x_md.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              class="details-img-hotel"
              srcset="
                ././img/main/details-hotel-main/main-hotel-5@1x_sm.jpg 1x,
                ././img/main/details-hotel-main/main-hotel-5@2x_sm.jpg 2x
              "
              src="././img/main/details-hotel-main/main-hotel-5@1x_sm.jpg"
              alt="cream is on the shelf"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>

    <ul class="details-hotel-icon-list">
      <li class="details-hotel-icon-item">
        <button class="details-hotel-icon-btn">
          <svg class="details-hotel-icon" width="14" height="14">
            <use href="./img/symbols.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li class="details-hotel-icon-item">
        <button class="details-hotel-icon-btn-r">
          <svg class="details-hotel-icon" width="14" height="14">
            <use href="./img/symbols.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <ul class="details-hotel-btn-list">
      <li class="details-hotel-btn-item">
        <button class="button white js-open-modal" type="button" data-modal="2">
          Book a room
        </button>
      </li>
      <li class="details-hotel-btn-item">
        <a class="button white details-hotel-button-link" href="./hotel.html"
          >View room</a
        >
      </li>
    </ul>
  </div>
</section>
