<section class="section-main-rest">
  <div class="container">
    <div class="main-rest">
      <h2 class="section-title section-title-rest">restaurant</h2>

      <p class="main-rest-subtitle-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="main-img-list">
      <li class="main-img-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ././img/main-rest/main-rest-1@1x_lg.jpg 1x,
              ././img/main-rest/main-rest-1@2x_lg.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width:768px)"
            srcset="
              ././img/main-rest/main-rest-1@1x_md.jpg 1x,
              ././img/main-rest/main-rest-1@2x_md.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="main-img-rest"
            srcset="
              ././img/main-rest/main-rest-1@1x_sm.jpg 1x,
              ././img/main-rest/main-rest-1@2x_sm.jpg 2x
            "
            src="././img/main-rest/main-rest-1@1x_sm.jpg"
            width="336"
            alt="Cocktail"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="main-img-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ././img/main-rest/main-rest-4@1x_lg.jpg 1x,
              ././img/main-rest/main-rest-4@2x_lg.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width:768px)"
            srcset="
              ././img/main-rest/main-rest-4@1x_md.jpg 1x,
              ././img/main-rest/main-rest-4@2x_md.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="main-img-rest"
            srcset="
              ././img/main-rest/main-rest-4@1x_sm.jpg 1x,
              ././img/main-rest/main-rest-4@2x_sm.jpg 2x
            "
            src="././img/main-rest/main-rest-4@1x_sm.jpg"
            width="336"
            alt="Cook"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="main-img-list-desc">
      <li class="main-img-item-desc">
        <img
          class="main-img-rest-desc"
          srcset="
            ././img/main-rest/main-rest-1@1x_lg.jpg 1x,
            ././img/main-rest/main-rest-1@2x_lg.jpg 2x
          "
          src="./img/main-rest/main-rest-1@1x_lg.jpg"
          width="336"
          alt="Cocktail"
          loading="lazy"
        />
      </li>
      <li class="main-img-item-desc">
        <img
          class="main-img-rest-desc"
          srcset="
            ././img/main-rest/main-rest-2@1x_lg.jpg 1x,
            ././img/main-rest/main-rest-2@2x_lg.jpg 2x
          "
          src="./img/main-rest/main-rest-2@1x_lg.jpg"
          width="336"
          alt="Croissant "
          loading="lazy"
        />
      </li>
      <li class="main-img-item-desc">
        <img
          class="main-img-rest-desc"
          srcset="
            ././img/main-rest/main-rest-3@1x_lg.jpg 1x,
            ././img/main-rest/main-rest-3@2x_lg.jpg 2x
          "
          src="./img/main-rest/main-rest-3@1x_lg.jpg"
          width="336"
          alt="Wine with glasses"
          loading="lazy"
        />
      </li>
      <li class="main-img-item-desc">
        <img
          class="main-img-rest-desc"
          srcset="
            ././img/main-rest/main-rest-4@1x_lg.jpg 1x,
            ././img/main-rest/main-rest-4@2x_lg.jpg 2x
          "
          src="././img/main-rest/main-rest-4@1x_lg.jpg"
          width="336"
          alt="Cook"
          loading="lazy"
        />
      </li>
      <li class="main-img-item-desc">
        <img
          class="main-img-rest-desc-lg"
          srcset="
            ././img/main-rest/main-rest-5@1x_lg.jpg 1x,
            ././img/main-rest/main-rest-5@2x_lg.jpg 2x
          "
          src="././img/main-rest/main-rest-5@1x_lg.jpg"
          width="336"
          alt="Fish on a plate"
          loading="lazy"
        />
      </li>
    </ul>

    <ul class="main-icon-list">
      <li class="main-icon-item">
        <button class="main-icon-btn">
          <svg class="main-icon" width="24" height="24">
            <use href="./img/symbols.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li class="main-icon-item">
        <button class="main-icon-btn main-icon-btn-r">
          <svg class="main-icon" width="24" height="24">
            <use href="./img/symbols.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>

    <ul class="main-btn-list">
      <li class="main-btn-item">
        <button class="button black js-open-modal" type="button" data-modal="1">
          Book a table
        </button>
      </li>
      <li class="main-btn-item">
        <button class="button black" type="button">
          <a href="/restaurant.html" lang="en">View the menu</a>
        </button>
      </li>
    </ul>
  </div>
</section>
